p {
color: white;
font-size: 50px;
}
body{
    background-image: url(forrest_taustapilt.jpg);
}
h1{
    font-family: 'Lucida Console';
    color: white;
    text-align: center;
    font-size: 100 px;
}